.continue-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  left: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
    height: 56px;
    font-size: 20px;
    line-height: 1.2;
    color: var(--White);
    font-weight: 700;
    cursor: pointer;
    background: var(--Majorelle-Blue);
    border: 0px;
    border-radius: 25px;
  }
}
