.number-list {
  padding: 25px 15px;
  border-radius: 10px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);

  .number-item {
    display: flex;
    align-items: center;
    margin: 0 0 25px 0;

    &:last-child {
      margin: 0 0 0 0;
    }

    .number {
      width: 22%;
      font-size: 26px;
      line-height: 1.4;
      font-weight: 700;
      color: var(--Violets-Are-Blue);
    }
    .text {
      width: 78%;
      font-size: 14px;
      line-height: 1.4;
      color: var(--Black);
    }
  }
}
