.money-back-box {
  .icon {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }
  .text {
    font-size: 14px;
    color: var(--Taupe-Gray);
    line-height: 1.4;
    padding: 15px 15px;
    border: 1px solid var(--Majorelle-Blue);
    border-radius: 10px;

    .title {
      font-size: 18px;
      line-height: 1.4;
      font-weight: 700;
      color: var(--Black);
      margin: 0 0 10px 0;
    }

    a {
      color: var(--Taupe-Gray);
      text-decoration: underline;
    }

    p {
      margin: 0 0 5px 0;

      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }
}
